admins/_pycache_/
admins/migrations/
Group8_System/_pycache_/
Group8_System/migrations/
trainers/_pycache_/
trainers/migrations/
members/_pycache_/
members/migrations/
users/_pycache_/
users/migrations/
webpages/_pycache_/
webpages/migrations/
media/
db.sqlite3