admins/__pycache__/
admins/migrations/
Group8_System/__pycache__/
Group8_System/migrations/
trainers/__pycache__/
trainers/migrations/
members/__pycache__/
members/migrations/
users/__pycache__/
users/migrations/
webpages/__pycache__/
webpages/migrations/
media/
db.sqlite3
counters/__pycache__/
counters/migrations/