/* Overall admin container */
.admin-container {
    margin: 50px auto;
    font-size: 1.2em;
}

/* Common CSS */
input,
textarea {
    max-width: 100%;
}

div {
    word-wrap: break-word;
}

.back-btn button {
    width: 8%;
    margin: auto 15% 20px 15%;
}

.search-bar {
    margin: auto auto 20px 15%;
}

.search-bar button {
    width: 8%;
}

.search-bar input[type="text"] {
    width: 74%;
}

/* Table CSS */
.admin-container table {
    margin: auto;
    width: 70%;
}

.admin-container tr,
td {
    border: 1px solid black;
    padding-left: 5px;
}

.admin-container td:nth-child(1) {
    width: 5%;
}

.admin-container tr:nth-child(1) {
    font-weight: bold;
}

/* Admin main page CSS */
.admin-main-container {
    display: grid;
    grid-template-columns: auto 1fr;
    /* Two columns: auto for admin image, 1fr for admin info */
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin: 50px auto auto auto;
    width: 60%;
}

.admin-photo {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.admin-info {
    margin-left: 50px;
    font-size: 1.2em;
}

.admin-name {
    margin-bottom: 30px;
}

.admin-id {
    margin: 0;
}

/* Manage Member CSS */
.member-details-wrapper {
    display: grid;
    grid-template-columns: 85% 15%;
    margin: auto;
    width: 70%;
    border: 1px solid black;
    padding: 5px 0 0 5px;
}

.member-info button {
    width: 12%;
    margin: 10px auto 15px 120px;
}

.member-info div {
    margin-bottom: 10px;
}

.member-info input[type="text"] {
    background-color: lightgray;
}

.member-remove {
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-remove button {
    width: 100%;
}

/* Manage Trainer CSS */
.trainer-btn {
    margin: auto auto 20px 15%;
}

.trainer-btn form {
    display: inline-block;
}

.trainer-back-btn {
    padding: 1px 1.6em;
}

.trainer-details-wrapper {
    display: grid;
    grid-template-columns: 85% 15%;
    margin: auto;
    width: 70%;
    border: 1px solid black;
    padding: 5px 0 0 5px;
}

.trainer-info button {
    width: 12%;
    margin: 10px auto 15px 120px;
}

.trainer-info div {
    margin-bottom: 10px;
}

.trainer-info input[type="text"],
input[type="number"] {
    background-color: lightgray;
}

.trainer-remove {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trainer-remove button {
    width: 100%;
}

/* Trainer Application CSS */
.trainer-application-list {
    width: 70%;
    margin: auto;
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
}

.trainer-application {
    background-color: lightgrey;
    margin: 5px auto 5px auto;
    padding: 2% 0;
}

.trainer-application-info {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-column-gap: 5px;
    text-align: center;
}

.trainer-application-data {
    margin: 3% 10%;
}

.trainer-application-data div {
    margin-bottom: 1%;
}

.trainer-certificate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 3% 10%;
}

.trainer-certificate a {
    padding: 20px 0;
}

.trainer-certificate img {
    max-width: 620px;
    padding: 5px 0;
}

.trainer-message-field {
    background-color: white;
    margin: 1% 10%;
}

.trainer-application-btn {
    display: flex;
    justify-content: space-between;
    margin: 3% 30% 1% 30%;
}

.trainer-application-btn form {
    display: inline-block;
}

.trainer-application-btn .reject-btn {
    padding: 0 15px;
}

/* View Outstanding Payment CSS */
.outstanding-payment-table tr:nth-child(2) {
    width: 60%;
}

.outstanding-payment-table td:nth-child(2) {
    width: 60%;
}

#success-message {
    margin: auto 15% 20px 15%;
}

/* Payment Notification CSS */
.payment-notification-container {
    margin: 1% 15% 5% 15%;
    background-color: lightgray;
    padding: 1%;
}

.payment-notification-template {
    margin-top: 10px;
}

.payment-notification-message {
    margin: 3% auto 2% auto;
}

.send-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-message-container form,
textarea {
    width: 100%;
}

.send-message-container textarea {
    height: 300px;
}

.send-message-container .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-message-container button {
    padding: 0 20px;
}