/* Overall admin container */
.admin-container {
    margin: 50px auto;
    font-size: 1.2em;
}

/* Table CSS */
.admin-container table {
    margin: auto;
    width: 70%;
}

.admin-container tr, td {
    border: 1px solid black;
    padding-left: 5px;
}

.admin-container td:nth-child(1) {
    width: 5%;
}

.admin-container tr:nth-child(1) {
    font-weight: bold;
}

/* Button CSS */
.back-btn button {
    width: 8%;
    margin: auto auto 20px 15%;
}

.search-bar button{
    width: 8%;
    margin: auto auto 20px 15%;
}

/* Admin main page CSS */
.admin-main-container {
    display: grid;
    grid-template-columns: auto 1fr;
    /* Two columns: auto for admin image, 1fr for admin info */
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin: 50px auto auto auto;
    width: 60%;
}

.admin-photo {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.admin-info {
    margin-left: 50px;
    font-size: 1.2em;
}

.admin-name {
    margin-bottom: 30px;
}

.admin-id {
    margin: 0;
}

/* Manage Member CSS */
.member-details {
    display: grid;
    grid-template-columns: 85% 15%;
    margin: auto;
    width: 70%;
    border: 1px solid black;
    padding: 5px 0 0 5px;
}

.member-details-btn button{
    width: 70%;
    margin: 10px auto 10px auto;
}

/* Manage Trainer CSS */
.trainer-back-btn {
    margin: auto auto 10px 15%;
}

.trainer-back-btn form{
    display: inline-block;
}

.submit-form button {
    width: 90px;
}

.trainer-details {
    display: grid;
    grid-template-columns: 85% 15%;
    margin: auto;
    width: 70%;
    border: 1px solid black;
    padding: 5px 0 0 5px;
}

.trainer-details-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Trainer Application CSS */
.trainer-application-list {
    width: 70%;
    margin: auto;
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
}

.trainer-application {
    background-color: lightgrey;
    margin: 5px auto 5px auto;
    padding: 2% 0;
}

.trainer-certificate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 3% 10%;
}

.trainer-message-field {
    background-color: white;
    margin: 1% 10%;
}

.trainer-application-btn {
    display: flex;
    justify-content: space-between;
    margin: 3% 30% 1% 30%;
}

.trainer-application-btn form {
    display: inline-block;
}

.trainer-application-btn .reject-btn {
    padding: 2% 40%;
}

/* View Outstanding Payment CSS */
.outstanding-payment-table tr:nth-child(2){
    width: 60%;
}

.outstanding-payment-table td:nth-child(2){
    width: 60%;
}

/* Payment Notification CSS */
.payment-notification-container {
    margin: 1% 15% 5% 15%;
    background-color: lightgray;
    padding: 1%;
}

.payment-notification-message {
    background-color: white;
    margin: 5% auto 2% auto;
}

.payment-notification-container .send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-btn button {
    padding: 2px 25px;
}