.yellow-font {
    color: #FDF261;
}

.red-font {
    color: #e60d1b;
}

.black-font {
    color: #000000;
}

.gray-bg {
    background-color: #505050;
}

.grey-bg {
    background-color: #E7E5E5;
}

.white-bg {
    background-color: #ffffff;
}