{% extends "trainers/trainer-base.html" %}
{% block content %}

{% load static %}
<div class="jumbotron text-center">
    <h1 style="font-weight: bold" class="yellow-font mb-5">FITNESS PROGRAM</h1>
</div>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-1 ">
            <a href="{% url 'trainer-home' %}" class="btn btn-primary btn btn-primary btn-lg btn-block">Back</a>
        </div>
        <div class="col-8 white-bg">
            {% for program in fitness_programs %} 
                <ul class="d-flex justify-content-around pt-3">
                    <li class="list-group-item">
                        <img src="{{ program.program_images.url }}" alt="{{ program.program_name }}" style="max-width: 300px;">
                    </li>
                    <li class="list-group-item w-50" >
                        <h4>{{ program.program_name }}</h4>
                        <p>Trainer:  {{ program.trainer}} </p>
                        <p>Day: {{ program.program_day}} </p>
                        <p>Time: {{ program.program_time}} </p>
                        <p>Price: RM{{ program.program_price}} </p>
                    </li>
                </ul>
            {% endfor %}
        </div>
        <div class="col-2" role="group">
            <div class="vstack">
                <a href="{% url 'trainer-add-program' %}" class="btn btn-success">Add New</a>
                <button class="btn btn-danger" id="deleteButton">Delete Program</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}