{% extends "trainers/trainer-base.html" %}
{% block content %}

{% load static %}
<div class="container text-center">
    <div class="row">
        <div class="col-lg-3 btn-group-vertical" style="padding:10px; margin:10px;">
            <button type="button" class="btn btn-success btn-sm " style="font-size: 30px; font-weight:bold; " onclick="redirectToTrainerProgram()">Program</button>
            <button type="button" class="btn btn-warning btn-sm " style="font-size: 30px; font-weight:bold; " onclick="redirectToTrainerTimetable()">Timetable</button>
            <form method="post" action="{% url 'logout' %}" style="width: 100%;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-lg btn-block" style="font-size:30px;font-weight:bold;padding:100px;">Logout</button>
            </form>
        </div>
        <div class="col-lg-6" style="padding:20px; margin-left:100px;">
            <div class="card ">
                <img src="{% static 'trainers/images/trainer.png' %}" class="card-img-top" alt="Trainer Image">
            
                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        <span class="col-6" style="font-size:24px; text-transform: uppercase">{{trainer_name}}</span>
                    </h5>
                    <ul class="list-group">
                        <li class="list-group-item">AGE: {{age}}</li>
                        <li class="list-group-item">BMI: {{bmi}}</li>
                        <li class="list-group-item">BMR: {{bmr}} kcal/day</li>
                        <li class="list-group-item">{{phone}}</li>
                        <li class="list-group-item">{{email}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

 <script>
    function redirectToTrainerProgram() {
        window.location.href = '{% url 'trainer-program'%}';
    }
    function redirectToTrainerTimetable() {
        window.location.href = '{% url 'trainer-timetable' %}';
    } 
</script>
{% endblock content %}