{% extends "trainers/trainer-base.html" %}
{% block content %}

{% load static %}
<div class="jumbotron text-center">
    <h1 style="font-weight: bold" class="yellow-font mb-5">FITNESS PROGRAM</h1>
</div>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-1 ">
            <a href="{% url 'trainer-home' %}" class="btn btn-primary btn btn-primary btn-lg btn-block">Back</a>
        </div>
        <div class="col-8 white-bg">
            {% for program in fitness_programs %} 
                <ul class="d-flex justify-content-around pt-3">
                    <li class="list-group-item">
                        <a href="{% url 'trainer-program-detail' program.program_name %}">
                            <img src="{{ program.program_images.url }}" alt="{{ program.program_name }}" style="max-width: 300px;">
                        </a>
                    </li>
                    <li class="list-group-item w-50"1>
                        <a href="{% url 'trainer-program-detail' program.program_name %}" style="text-decoration: none; color:black; display: block;">
                            <h4 style="font-size: 30px;"><b>{{ program.program_name }}</b></h4>
                            <p style="text-transform: uppercase">Trainer:  {{ program.trainer}} </p>
                            <p>DAY: {{ program.program_day}} </p>
                            <p>TIME: {{ program.program_time}} </p>
                            <p>PRICE: RM{{ program.program_price}} </p>
                        </a>
                    </li>
                </ul>
            {% endfor %}
        </div>
        <div class="col-2" role="group">
            <div class="vstack btn-group btn-group-lg">
                <a href="{% url 'trainer-add-program' %}" class="btn btn-success">Add New</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}