{% extends "trainers/trainer-base.html" %}
{% block content %}

{% load static %}
<br />
    <h2 style="font-weight: bold" class="text-center yellow-font">ADD FITNESS PROGRAM</h2>
<br />


<div class="w-50 mx-auto mt-3 white-bg px-5 py-5 rounded-4">
    <div class="d-flex flex-column align-items-center">
        <form method="post" enctype="multipart/form-data" action="{% url 'trainer-add-program' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <a href="#" class="btn btn-danger btn-lg" style="margin-right:120px;">Back</a>
                <button type="submit" class="btn btn-primary">Create Program</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}