{% extends "webpages/base.html" %}
{% block content %}
    <div class="w-25 mx-auto mt-3 white-bg px-5 rounded-4">
        <div class="d-flex flex-column">
            <h1 class="my-4">Be a Trainer</h1>
            <form action="{% url 'trainer-signup' %}" method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Register" class="mt-2 mb-4 btn btn-primary">
            </form>
            <p>Already registered! - <a href="{% url 'login'%}">Login Now</a><br></p>
        </div>
    </div>
{% endblock content %}