{% extends "webpages/base.html" %}

{% block customCSS %}
    {% load static %}
    {% comment %} The link for your css files {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/thepage.css'%}"> {% endcomment %}
{% endblock customCSS %}

{% block content%}
    <div class="text-center yellow-font">
        <h1>Subscription Plans</h1>
    </div>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
        </div>
    </div>
{% endblock content%}